.inner-launch-item {
    background: #fff;
  
    img {
      background: #e8dcdc;
      width: 14em;
    }
  
    li,
    p {
      color: #98afc7;
    }
  
    .launch-title {
      color: #2b65ec;
    }
  }
  
  @media screen and (min-width: 700px) {
    .launch-item {
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .launch-item {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 1441px) {
    .container {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  