.launchData {
    // margin-top: 1%;
    margin-left: -3%;
    flex-flow: wrap;
}

.inner-launch-item {
    background: #fff;
    height: 411px;
    margin-top: 2%;
  
    img {
      background: #DCDCDC;
      width: 14em;
    }
  
    li,
      p {
      color: #98afc7;
    }
  
    .launch-title {
      color: #2b65ec;
    }

    .commonText{
        color: black;
    }

    .forDynaimcData{
        color: #98afc7;
    }
  }

  .flex-container {
    flex-wrap: wrap;
  }
  
  @media screen and (min-width: 700px) {
    .launch-item {
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .launch-item {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.main-launch {
    margin-top: -2%;
    margin-left: -1%;
}

.year {
    margin-top: 18%;
    background-color: white;
    color: black;
    display: flex;
    height: 27%;
    margin-left: 22%;
    flex-flow: row;
  }

// .yearConstantData{
//     margin-top: 124%;
// }

.launchBoard {
    margin-left: 7%;
    flex-flow: wrap;
}

.yearLink {
    display: table-cell;
    width: 490px;
    color: black;
    background:#A9DFBF;
    width: 1%;
    cursor: pointer;
    height: 2.4em;
    border-radius: 0.3em;
  }

.yearLink:focus {
    background:green;
}

.filterMain {
    margin-right: 65px;
    display: flex;
}

.main {
    font-weight: bolder;
}
  
.sub-header {
    border-bottom: 1px solid;
    justify-self: center;
    display: flex;
  }

.filterDataMain {
    margin-top: auto;
}

.footer {
    margin-top: 3%;
    font-size: unset;
    margin-bottom: 2%;
    display: flex;
}

.developBy {
    font-weight: bolder;
}

.launchUndrline {
    border-bottom:2px solid #DCDCDC;
}

.filtertxt {
    font-size: large;
    font-weight: 600;
}